---
import Layout from "@/layouts/Layout.astro";
import {
  AboutMe,
  Experience,
  Hero,
  SectionContainer,
  TitleSection,
  Projects,
} from "@/components";
import { Briefcase, ProfileCheck, CodeIcon } from "@/components/icons";
import "../styles/global.css";
---

<Layout
  title="juan4dev 🥑 - Fullstack Developer | .NET & Angular Expert"
  description="Juan4dev is a Fullstack Developer specializing in .NET and Angular. Discover his projects, insights on clean code, and best development practices."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="home">
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          Work Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>
          <CodeIcon class="size-7" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <TitleSection>
          <ProfileCheck class="size-8" />
          About Me
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
