---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
// import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<Layout
  title="juan4dev 🥑 - Fullstack Developer | .NET & Angular Expert"
  description="Juan4dev is a Fullstack Developer specializing in .NET and Angular. Discover his projects, insights on clean code, and best development practices."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <!-- <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer> -->

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About Me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
