---
const personalImageAlt = "Juan Lopez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm Juan Lopez, a Software Developer from Zaragoza, Spain 🇪🇸. With over 6
      years of experience, I specialize in .NET and Angular for fullstack
      development. My passion for technology was sparked by countless hours of
      listening to tech podcasts, which inspired me to dive into the world of
      programming.
    </p>
    <p>
      I thrive in the process of creating and continuously seek ways to improve
      how things are done. For me, coding isn't just a job—it's a way to
      innovate and make meaningful contributions through technology.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
