<header class="flex justify-between items-center">
  <img
    class="rounded-full h-12 w-12"
    src="https://avatars.githubusercontent.com/u/72524993?v=4"
    alt="juan4dev photo"
  />
  <nav class="flex flex-row gap-x-10">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
